body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul li {
  margin: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background: #777777;
  display: inline-flex;
}

h2 {
  text-align: center;
}


table {
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
